/********************************************************  CSS for "Header.js"*/

.header__wrapper {
  width: 100%;
  padding: 0 80% 0 10%;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

/*********************************************************************** Logo */
.header__logo {
  width: 3.5rem;
  cursor: pointer;
  padding: 0.3rem;
}

/*********************************************************************** Text */
.header__text {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 1.3em;
  letter-spacing: 3px;
  padding-left: 1rem;
  color: #eee;
  cursor: pointer;
}

/********************************************************************** MEDIA */
@media (max-width: 500px) {
  .header__logo {
    width: 2.5rem;
    margin-left: 1rem;
  }
  .header__text {
    font-size: 0.8em;
  }
}
