/*****************************************************  CSS for "TitlePage.js"*/

.titlePage__wrapper {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 1.2em;
  margin-left: 1rem;
  color: inherit;
  background-color: inherit;
}

.option-enter{
  opacity: 0;
}
.option-enter.option-enter-active{
  opacity: 1;
  transition: opacity 2s ease;
}
.option-exit{
  opacity: 1;
}
.option-exit.option-exit-active{
  opacity: 0;
  transition: opacity 2s ease;
}
